/*common style between PC and smartphone*/
body {
  font-family: ource Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  }
  
  p {
    font-size: 15px;
  }
/*style setting for PC display*/
body {
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
}

#nav-pc {
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
}
#nav-pc > a {
  text-decoration: none;
  margin-left: 20px;
}
#nav-pc > a:link {
  color: #0d0d0d;
}
#nav-pc > a:visited {
  color: #0d0d0d;
}
#nav-pc > a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
#nav-pc > a:active {
  color: #0d0d0d;
}
#main-visual {
  position: relative;
  height: 400px;
}
#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2710d5;
  color: #ffffff;
  border-radius: 0 0 476px 0;
  max-width: 620px;
  height: 100%;
  width: 100%;
  z-index: 11;
}
#main-message > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 100px 0 0 50px;
}
#main-message > p {
  font-size: 28px;
  margin: 0 0 0 50px;
}

#main-visual > img {
  max-width: 620px;
  border-radius:476px 0 0 0;
  position: absolute;
  top : 0;
  right: 0;
  z-index: 10;
}
/*Headline*/
h2 {
  margin: 40px 0 0 0;
}
h2::after {
  content: url("images/line.png");
  margin-left: 10px;
}
h3 {
  font-size: 27px;
}

/*mission*/
#mission {
  margin: 80px auto 80px auto;
  width: 100%
}
#mission-flex {
  width: 100%;
  display: flex;
}

#mission-flex > div {
  width: 50%;
  margin: 20px;
}

#mission-photo {
  width: 100%;
}
#s2dgs {
  margin-top: 50px;
  width: 100%;
}

/*Product */
#product {
  background-color: #fafafa;
  width: 100%;
  margin: 80px 0 80px 0;
  padding: 10px 40px 0px 40px;
}

/*外枠*/
#product > div {
  margin-top: 40px;
  display: flex;
}

#product-left {
  width: 50%;
  margin-right: 20px;
}

#product-right {
  width: 50%;
  margin-left: 20px;
  margin-top: 80px;
}

/*画像と説明が入る四角枠*/
#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

#product-right >div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}
/*画像*/
.product-photo {
  width: 100%;
}

/*説明文が入る四角枠*/
.product-explain {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 280px;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/*説明の四角枠内の英語トピック*/
.product-explain > span {
  color: #2720d5;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.product-explain > h3 {
  font-size: 20px;
  margin: 5px 0 5px 0;
}

.product-explain > p {
  font-size: 14px;
  margin: 0;
}

/*もっとみるボタン*/
#product-more {
  margin: 0 auto -42px auto;
}

 /*ABOUT US*/
#aboutus {
  margin: 80px auto;
}
/*３文化Tableと画像を入れる枠*/
#aboutus > div {
  display: flex;
}
.culture-img {
width: 100%;
align-self: flex-start;  
}
.culture-img2 {
  margin-top: 50px;
  width: 100%
}
.culture-table {
  max-width: 500px;
  margin-right: 50px;
}
.culture-num {
  font-size: 80px;
  color: #2710d5;
  margin-right: 20px;
}
.culture-en {
color: #2710d5;
font-weight: bold;
font-size: 24px;
display: block;
}
.culture-jp {
  font-size: 28px;
  font-weight: bold;
}

/*ビジョンのセクションです*/
#vision {
  margin: 80px auto 80px auto;
}

/*ビジョンのセクション外枠*/
#vision > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*ビジョンの7つの箱の枠*/
.vision-box {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}

.vision-box > img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30; 
}

.vision-box > span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 31;
  margin-right: 20px;
}
.vision-box > span > h4 {
color: #2710d5;
font-size: 19px;
margin: 80px 0 0 0;
}

.vision-box > span > h4::first-letter {
  font-size: 40px;
}

.vision-box > span > h5 {
  font-size: 20px;
  margin: 0;
}
.vision-box > span > p {
  margin: 10px 0 0 0;
}

#company {
  margin: 80px auto 80px auto;
}
#company-table {
  width: 100%;
}

.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100px;
}
.tableheader-first {
  text-align: left;
  padding: 20px;
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color:#2710d5;
  border-top-width: 1px;
  border-top-style: solid;
  width: 100px;
}
.cell {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.cell-first {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #ececec;
  border-top-width: 1px;
  border-top-style: solid;
}

#company > iframe {
  width: 100%;
  height: 368;
  margin-top: 40px;
}

/*お問合せ*/
#contact {
  margin: 80px auto 80px auto;
}
/*フォーム中の各項目の外枠*/
#contact > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
/*フォーム左列の見出し*/
.contact-heading {
  width: 240px;
  align-self: center;
}
.contact-label {
  font-weight: bold;
}
.contact-span {
  color: #ce2222;
  margin-left: 0 0 0 20px;
  font-weight: bold;
}
.contact-textbox {
  border-top: 0;
  border-left: 0;
  border-top: 0;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}
.contact-textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  height: 200px;
}

*/個人情報の取扱い*/
  details {
  width: 700px;
  }
  details > div {
    background-color: #fafafa;
    padding: 20px;
  }
  details > div > span {
    font-weight: bold;
  }
